body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
}
h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
h3{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}
h4{
    font-size: 1.5rem;
    font-weight: 500;
}
h5{
    margin-bottom: 0;
}
p{
    font-size: 1.25rem;
    margin: 0.5rem 0;
}
small{
    font-size: 80%;
    font-weight: 400;
}
a,
a:hover{
    text-decoration: none;
}
.content-center{
    max-width: 50rem;
    margin: 0 auto 3.75rem auto;
    text-align: center;
}
.container{
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}
.top-margin-xs{
    margin-top: 1rem;
}
.top-margin-sm{
    margin-top: 2rem;
}
.top-margin-lg{
    margin-top: 3rem;
}
.text-dark{ color: #000;}
section{
    padding: 3rem 0;
}
.full-width{
    width: 100%;
}

.contenido{
    width: 100%;
}

/* header start*/
#header{
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}
#header .container{
    min-height: 100px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1;
    grid-template-areas: "logo navmenu";
}
#header .container .logo{
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav.menu{
    grid-area: navmenu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo a img,
footer img{
    min-width: 5rem;
    max-width: 5rem;
}
nav.menu ul li{
    display: inline-block;
    margin-left: 1.5rem;
}
nav.menu ul li a{
    text-decoration: none;
    color: #000;
}
/* header end*/

/* hero start*/
#hero{
    background-image: url('../img/img_snow_wide.jpg');
    background-size: cover;
    padding-top: 5.625rem;
    color: #fff;
    min-height: 25rem;
    grid-area: hero;
}
#hero a i{
    margin-left: 1rem;
}
/* hero end*/

/* portfolio start*/
#portfolio .container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2"
    "box3 box4";
}
.portafolio-container{
    position: relative;
    overflow: hidden;
    border-radius: .125rem;
    height: 30rem;
}
.portafolio-details{
    position: absolute;
    bottom: 2.5rem;
    left: 1.5625rem;
    z-index: 9000;
}
.portafolio-details a h2,
.portafolio-details a p{
    color: #fff;
    margin: 0;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    height: 30rem;
}
.portafolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.portafolio-container.box1{ grid-area: box1;}
.portafolio-container.box2{ grid-area: box2;}
.portafolio-container.box3{ grid-area: box3;}
.portafolio-container.box4{ grid-area: box4;}
/* portfolio end*/

/* aboutus start*/
#aboutus .container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "member1 member2 member3";
}
.member-container{
    position: relative;
    margin: 0.625rem 0;
}
.member-container.member1{ grid-area: member1;}
.member-container.member2{ grid-area: member2;}
.member-container.member3{ grid-area: member3;}

.member-container img{
    max-width: 100%;
}
.member-details{
    position: absolute;
    color: #606060;
    bottom: 2rem;
    left: 1.25rem;
}
.member-details span{
    font-size: 1rem;
}
.member-details i{
    padding: 0 0.5rem;
}
.member-details a i{
    font-size: 1.875rem;
    color: #606060;
}
#aboutus h5{
    font-size: 1.25rem;
    font-weight: 500;
}
.member-details ul li{
    list-style: none;
    display: inline-block;
    margin-right: .5rem;
}
/* aboutus end*/

/* pricing start*/
#pricing .container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "light dark";
}
.pricing-container{
    margin: 1rem 0;
    position: relative;
}
.pricing-container .plans{
    padding: 3.3rem 5rem;
}
.pricing-container .plan-light{
    background-color: #fff;
    border: .125rem solid #000;
    grid-area: light;
}
.pricing-container .plan-dark{
    background-color: #000;
    border: .125rem solid #000;
    color: #fff;
    grid-area: dark;
}
.plans h2{
    font-size: 5rem;
    font-weight: 600;
}
.plans span{
    font-size: 1.375rem;
}
.plans ul{
    list-style-type: square;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 2.5rem;
}
/* pricing end*/

/* testimonials start*/
.carousel{
    min-height: 15rem;
    padding: 2.5rem;
    border-radius: 2px;
    text-align: center;
}
.carousel p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}
.rating ul li{
    display: inline-block;
    list-style: none;
}
.rating i{
    color: gold;
    font-size: 1.6rem;
}
.testimonial-user{
    max-width: 15rem;
    margin: 0 auto;
    text-align: left;
}
.testimonial-user h6{
    margin-bottom: 0;
}
.testimonial-user span{
    font-size: 1rem;
}
.testimonial-user img{
    border-radius: 3.125rem;
    max-width: 3.125rem;
    text-align: center;
}
.testimonial-user .contenedor{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "avatar details";
}
.user-avatar{ grid-area: avatar;}
.user-details{ grid-area: details;}

/* testimonials end*/

/* contact start*/
#contact .container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2"
}
#contact .box1{ grid-area: box1;}
#contact .box2{ grid-area: box2;}
#contact form{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 2;
    grid-template-rows: auto;
    grid-template-areas: "nombre apellido"
    "correo correo"
    "empresa empresa"
    "telefono telefono"
    "boton boton";
}
form .nombre{ grid-area: nombre;}
form .apellido{ grid-area: apellido;}
form .correo{ grid-area: correo;}
form .empresa{ grid-area: empresa;}
form .telefono{ grid-area: telefono;}
form a{ grid-area: boton;}

form input{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
/* contact end*/

/*footer start*/
#footer{
    padding: 5rem 0;
    text-align: center;
    color: #fff;
    background-color: #343a40;
}
#footer a{
    color: #fff;
}
#footer a:hover{
    color: #fff;
}
#footer ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
}
#footer ul li{
    padding: 10px 15px;
    display: inline-block;
    margin-right: .5rem;
}
#footer ul li i{
    font-size: 1.6rem;
    color: #fff;
}
/*footer end*/

/* media query start*/
@media (max-width: 1199.98px) {  }
@media (max-width: 991.98px) { 
    .pricing-container .plans{
        padding: 2rem 3rem;
    }
    section{
        padding: 1.5rem 0;
    }
 }
@media (max-width: 767.98px) { 
    #portfolio .container{
        grid-template-areas: "box1 box1"
        "box2 box2"
        "box3 box3"
        "box4 box4";
    }
    #aboutus .container{
        grid-template-areas: "member1"
        "member2"
        "member3";
    }
    #pricing .container{
        grid-template-columns: 100%;
        grid-template-rows: 2;
        grid-template-areas: "light"
        "dark";
    }
    #contact .container{
        grid-template-columns: 100%;
        grid-template-rows: 2;
        grid-template-areas: "box1"
        "box2";
    }
    h1{ font-size: 2.5rem;
        line-height: 1.5;
    }
    h2{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    p{
        font-size: 1rem;
    }
    section{
        padding: 1.5rem 0;
    }
    .content-center{
        padding: 1rem;
        margin: 0 auto 2rem auto;
    }
    .pricing-container .plans{
        padding: 2rem 3rem;
    }
    .pricing-container{
        margin: 0.25rem 0;
    }
    .carousel p{
        font-size: 1rem;
    }
 }
@media (max-width: 575.98px) {  }

/* media query end*/